<h1>Welcome <%= current_user.first_name%></h1>
<h2>Logged in the <%= current_store.name%></h2>

<%= link_to 'Your account', current_user%>

<%= link_to 'All Employees', users_path%>

<%= link_to 'Products Catalog of Store', store_product_infos_path%>

<%= link_to 'Shelves', shelves_path%>

<%= link_to 'Administration', current_store%>


<%#= button_to 'log off', :controller=> "sessions", :action => 'destroy', :method => 'delete'%>
<%#= button_to "delete", current_user, :method=>:delete, :class=>:destroy %>

<%= button_to 'log off', root_url, id: session[:user_id], controller: 'sessions', action: 'destroy', method: 'delete'%>
