<h1>Welcome <%= current_user.first_name%> Of <%=current_store.name%></h1>

<h3>Employee Status: <%= session[:status] %> </h3>

<%= link_to 'Staff', employees_path%><br />

<%= link_to 'Inventory', current_store%><br />

<%= link_to 'Transaction', current_transaction%><br />

<% if session[:status] == "manager"%>
	<%= link_to 'Transaction History', transactions_path%><br />
<% end %>

<%= link_to 'Register New Member', new_member_path%><br />

<%#= link_to 'Administration', current_store%>

<%= link_to 'log out', sessions_signout_path, :method => :delete%><br />
