<h1>Changing Product Quantity</h1>

<%= form_for(@warehouse_product_info) do |f| %>
  <% if @warehouse_product_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warehouse_product_info.errors.count, "error") %> prohibited this warehouse_product_info from being saved:</h2>

      <ul>
      <% @warehouse_product_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @warehouse_product_info %> |
<%= link_to 'Back', warehouse_product_infos_path %>
