<p id="notice"><%= notice %></p>

<p>
  <b>Quantity:</b>
  <%= @warehouse_product_info.quantity %>
</p>

<p>
  <b>Product:</b>
  <%= @warehouse_product_info.product.name %>
</p>



<%= link_to 'Edit', edit_warehouse_product_info_path(@warehouse_product_info) %> |
<%= link_to 'Back', warehouse_product_infos_path %>
