<h1>Listing shelves</h1>

<table>
  <tr>
    <th>Max capacity</th>
    <th>Current capacity</th>
    <th>Store</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shelves.each do |shelf| %>
  <tr>
    <td><%= shelf.max_capacity %></td>
    <td><%= shelf.current_capacity %></td>
    <td><%= shelf.store %></td>
    <td><%= link_to 'Show', shelf %></td>
    <td><%= link_to 'Edit', edit_shelf_path(shelf) %></td>
    <td><%= link_to 'Destroy', shelf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shelf', new_shelf_path %>
