<h1>Listing shelves in the <%= current_store.name%></h1>

<table>
  <tr>
    <th>Aisle</th>
    <th>Max capacity</th>
    <th>Current capacity</th>
    <th>Store</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shelves.each do |shelf| %>
  <tr>
    <td><%= shelf.aisle %></td>
    <td><%= shelf.max_capacity %></td>
    <td><%= shelf.current_capacity %></td>
    <td><%= shelf.store.name %></td>
    <td><%= link_to 'Show', shelf %></td>
    <td></td>
    <td><%= link_to 'Change Maximum Capacity', :action => 'limit', :id => shelf %></td>
    <td></td>
    <td><%= link_to 'Destroy', shelf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shelf', new_shelf_path %>
<%= link_to 'Back', sessions_main_path %>
