<%= form_for(@store_product_info) do |f| %>
  <% if @store_product_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_product_info.errors.count, "error") %> prohibited this store_product_info from being saved:</h2>

      <ul>
      <% @store_product_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product %><br />
    <%= f.collection_select :product_id, Product.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :store %><br />
    <%= f.collection_select :store_id, Store.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
