<h1>Listing Products Registered in the <%= Store.find(session[:store_id]).name%></h1>

<table>
  <tr>
    <th>Product</th>
    <th>Store</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @store_product_infos.each do |store_product_info| %>
  <tr>
    <td><%= store_product_info.product.name %></td>
    <td><%= store_product_info.store.name %></td>
    <td><%= store_product_info.price %></td>
    <td><%= store_product_info.quantity %></td>
    <td><%= link_to 'Show', store_product_info %></td>
    <td><%= link_to 'Edit', edit_store_product_info_path(store_product_info) %></td>
    <td><%= link_to 'Destroy', store_product_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store product info', new_store_product_info_path %>
<%= link_to 'Back', sessions_main_path %>
