<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @store_product_info.product.name %>
</p>

<p>
  <b>Store:</b>
  <%= @store_product_info.store.name %>
</p>

<p>
  <b>Price:</b>
  <%= @store_product_info.price %>
</p>

<p>
  <b>Quantity:</b>
  <%= @store_product_info.quantity %>
</p>


<%= link_to 'Edit', edit_store_product_info_path(@store_product_info) %> |
<%= link_to 'Back', store_product_infos_path %>
