<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Max capacity:</b>
  <%= @store.max_capacity %>
</p>

<p>
  <b>Current capacity:</b>
  <%= @store.current_capacity %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', sessions_main_path %>
