<h1>Listing Products</h1>
<h2>On Aisle <%= current_shelf.aisle%></h2>
<h3>In the <%= current_store.name%></h3>

<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shelf_product_infos.each do |shelf_product_info| %>
  <tr>
    <td><%= shelf_product_info.product.name %></td>
    <td><%= shelf_product_info.quantity %></td>
    <td><%= link_to 'Show', shelf_product_info %></td>
    <td><%= link_to 'Edit', edit_shelf_product_info_path(shelf_product_info) %></td>
    <td><%= link_to 'Destroy', shelf_product_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back to shelf', current_shelf %>

<%= link_to 'New Shelf product info', new_shelf_product_info_path %>
