<h1>Creating new stock</h1>

<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
  	<%= f.label :product %> <br />
	<% if current_location_type == "store"%>
  	<%= f.collection_select :product_id, get_remaining_products_for_register(current_store), :id, :name%>
	<% elsif current_location_type == "shelf"%>
	<%= f.collection_select :product_id, get_remaining_products_for_register(current_shelf), :id, :name%>
	<% else %>
	
	<% end%>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :standard_quantity %><br />
    <%= f.number_field :standard_quantity %>
  </div>

  <div class="field">
    <%= f.label :benchmark %><br />
    <%= f.number_field :benchmark %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', current_location%>

