<h1>Move Product between Shelf and Store</h1>

<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Movement_direction %><br />
	<% if current_location_type == 'shelf'%>
    	<%= f.select :movement_direction, [['Store to Shelf', 'To'],['Shelf to Store','From']] %>
	<% elsif current_location_type == 'store'%>
		<%= f.select :movement_direction, [['Warehouse to Store', 'To'],['Store to Warehouse','From']] %>
	<%else%>
	
	<%end%>
  </div>

  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :update_quantity %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'Back', current_location %>
