<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @stock.location.name %>
</p>

<p>
  <b>Product:</b>
  <%= @stock.product.name %>
</p>

<p>
  <b>Standard Quantity:</b>
  <%= @stock.standard_quantity %>
</p>

<p>
  <b>Quantity:</b>
  <%= @stock.quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @stock.price %>
</p>

<p>
  <b>Benchmark:</b>
  <%= @stock.benchmark %>
</p>

<% if current_location_type == "store" %>
<%= link_to 'Back', current_store %>
<% elsif current_location_type == "shelf" %>
<%= link_to 'Back', current_shelf %>
<% else %>

<% end %>