

<h1>Listing Transaction history</h1>

<table>
  <tr>
    <th>Transaction No.</th>
    <th>Location</th>
    <th>Payment type.</th>
    <th>Cashier</th>

    <th></th>
  </tr>


<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.id %></td>
    <td><%= transaction.location_id %></td>
    <td><%= transaction.payment_type %></td>

    <td><%= "#{transaction.employee.first_name} #{transaction.employee.last_name}" %></td>


    <td><%= link_to 'Show', transaction %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back to Menu', sessions_store_main_path%>

<br />

