<h1>Current Transaction</h1>


<table>
  <tr>
    <th>Product</th>
    <th></th>
    <th>Price</th>
    <th></th>
    <th>Quantity</th>
  </tr>

<h3>Member Account: <%= @transaction.member.user_name unless @transaction.member == nil %>
	<%= "No Member" if @transaction.member == nil %></h3>

<h3>Total Price: <%= number_to_currency(@transaction.total_price) unless number_to_currency(@transaction.total_price) == nil%>
	<%= 0 if number_to_currency(@transaction.total_price) == nil%></h3>

<h3>Total Loyalty Points: <%= @transaction.loyalty_points_to_add unless @transaction.loyalty_points_to_add == nil%>
	<%= 0 if @transaction.loyalty_points_to_add == nil%></h3>

<% @transaction.product_list.each do |s|%>
  <tr>
    <td><%= product_name(s.product_id) %></td>
    <th></th>
	<td><%= number_to_currency(s.price) %></td>
	<th></th>
    <td><%= s.quantity %></td>
  </tr>

<% end %>
</table>

<% if @transaction.payment_type == 'pending'%>

	<%= link_to " scan item ", transactions_scan_item_path(@transaction)%></br>
	
	<% if !(@transaction.total_price == 0 || @transaction.total_price == nil)%>
		<%= link_to " remove item ", transactions_remove_item_path(@transaction)%></br>
	<% end %>
	
	<% if !(@transaction.total_price == 0 || @transaction.total_price == nil) || @transaction.member != nil %>
		<%= link_to " void transaction ", current_transaction, :method => :put%></br>
	<% end %>
	<!--Pay-grd2, grd3 can not proceed to pay if items are empty -->	
	<% if !(@transaction.total_price == 0  || @transaction.total_price == nil)%>
		<%= link_to "complete transaction ", new_transaction_path%></br>
	<% end %>
	
	<% if @transaction.member == nil %>
		<%= link_to 'scan member', transactions_scan_member_path, :method => :post %></br>
	<% end %>
	
	<% if @transaction.total_price == 0 || @transaction.member == nil %>
		<%= link_to "Back to Menu", sessions_store_main_path%><br />
	<% end %>
	
	<% #if session[:status] == "manager"%>
		<%#= link_to 'Refund/Exchange', transactions_refund_path, :method => :get%><br />
	<% #end %>
	
<% else %>
	
	<%= link_to "Back to Menu", sessions_store_main_path%><br />
	<%= link_to "Back to Transaction History", transactions_path%>
	
<% end %>
