<h1>Listing warehouses</h1>

<table>
  <tr>
    <th>Max capacity</th>
    <th>Current capacity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @warehouses.each do |warehouse| %>
  <tr>
    <td><%= warehouse.max_capacity %></td>
    <td><%= warehouse.current_capacity %></td>
    <td><%= link_to 'Show', warehouse %></td>
    <td><%= link_to 'Edit', edit_warehouse_path(warehouse) %></td>
   
  </tr>
<% end %>
</table>

<%= button_to 'log off', root_url, id: session[:user_id], controller: 'sessions', action: 'destroy', method: 'delete'%>
<br />


