<h1></h1>

<h2><%=@location.location.name%></h2>

<h2>Aisle <%=@location.name%></h2>
<p>
  <b>Maximum Capacity:</b>
  <%= @location.max_capacity %>
</p>
<p>
  <b>Current Capacity:</b>
  <%= sum_location_quantity (@location) %>
</p>

<p>
  <b></b>
  <td><%= link_to 'Orders', order_location_path(@location)%></td>
</p>

<% if session[:status] == "manager"%>
	<%= link_to 'register new product onto shelf', new_stock_path%></br>
<% end %>


<h3>Products Registered On Shelf</h3>
<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th></th>
  </tr>

<% @stocks.each do |stock| %>
  <tr>
    <td><%= stock.product.name %></td>
    <td><%= stock.quantity %></td>
    <td><%= number_to_currency(stock.price) %></td>
    <td><%= link_to 'Show', stock %></td>
    <% if session[:status] == "manager"%>
	    <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
	    <td><%= link_to 'Update Quantity', quantity_stock_path(stock) %></td>
		<td><%= link_to 'Move products between this shelf and back storage', movement_stock_path(stock) %></td>
	    <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
  </tr>
<% end %>

</table>
<td><%= link_to 'Back to Store', current_store %></td>