<h1>Inventory</h1>
<h2><%=@location.name%></h2>

<p>
  <b>Maximum Capacity:</b>
  <%= @location.max_capacity %>
</p>
<p>
  <b>Current Capacity:</b>
  <%= sum_location_quantity (@location) %>
</p>
<p>
  <b></b>
  <td><%= link_to 'Change Maximum Capacity', edit_location_path(@location) %></td>
</p>


<h3>Products Registered In Store</h3>
<%= link_to 'register new product into store', new_stock_path%><br></br>
<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th></th>
  </tr>

<% @stocks.each do |stock| %>
  <tr>
    <td><%= stock.product.name %></td>
    <td><%= stock.quantity%></td>
    <td><%= stock.price%></td>
    <td><%= link_to 'Show', stock %></td>
    <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
    <td><%= link_to 'Update Quantity', quantity_stock_path(stock) %></td>
    <td><%#= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<h3>Store Shelves</h3>
<table>
  <tr>
    <th>Aisle</th>
	<td></td>
	<th>Max Capacity</th>
    <td></td>
	<th>Current Capacity</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shelves.each do |shelf| %>
  <tr>
    <td><%= shelf.name %></td>
	<td></td>
    <td><%= shelf.max_capacity%></td>
	<td></td>
	<td><%= sum_location_quantity (shelf)%></td>
    <td><%= link_to 'Show', shelf %></td>
    <td><%= link_to 'Change Maximum Capacity', edit_location_path(shelf) %></td>
    <td><%= link_to 'Destroy', shelf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Back to Menu', sessions_store_main_path %>
