<h1>Inventory</h1>
<h2><%=@location.name%></h2>
<p>
  <b>Maximum Capacity:</b>
  <%= @location.max_capacity %>
</p>
<p>
  <b>Current Capacity:</b>
  <%= sum_location_quantity (@location) %>
</p>

<h3>Products Registered</h3>
<%= link_to 'register new product', new_product_path%><br></br>
<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <% if current_location_type != "warehouse"%>
    	<th>Price</th>
    <% end %>
    <th></th>
  </tr>

<% @stocks.each do |stock| %>
  <tr>
    <td><%= stock.product.name %></td>
    <td><%= stock.quantity%></td>
    <% if current_location_type != "warehouse"%>
    	<td><%= number_to_currency(stock.price) %></td>
    	<td><%= link_to 'Show', stock %></td>
    <% end %>
	<td><%= link_to 'Update Quantity', quantity_stock_path(stock) %></td>
    <% if current_location_type != "warehouse"%>
	    <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
	    <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>




<%= link_to 'Back', sessions_warehouse_main_path %>
